@import "colors.css";

.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primary-black-color);
    opacity: 0.5;
}

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modalCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modalView {
    width: 450px;
    background-color: var(--primary-white-color);
    border-radius: 1em;
}
