@import "colors.css";

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1280px;
    background-color: var(--primary-blue-color);
    border-radius: 1rem;
    padding: 2em;
}

.buttonsWrapper {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pathName {
    padding-left: 32px;
}

.avatar {
    cursor: pointer;
}

.block {
    display: flex
}

